<br><br><br>

<!-- Intro -->
<div id="intro" class="basic-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="text-container">
          <div class="section-title">PLUS D'INFO</div>
          <h3> nom :{{livre.nom}}</h3>
          <div class="testimonial-author">description :{{livre.description}}</div>
          <div class="testimonial-author">Prix : {{livre.prix}}</div>
          <div class="testimonial-author">quantité :{{livre.quantity}}</div>
        </div> <!-- end of text-container -->
      </div> <!-- end of col -->
      <div class="col-lg-7">
        <div class="image-container">
          <img class="img-fluid" src="{{livre.imageFile}}" alt="alternative">
        </div> <!-- end of image-container -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of intro -->

